body {
    font-family: 'Poppins' , sans-serif; 
    background-color: #f5f7fa;
    color: #1c1c1c;
    margin: 0;
}

h1, h2, h3 {
    color: #1c1c1c;
    margin-bottom: 20px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

#hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #1c1c1c;
    font-weight: 500;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

section {
    background-color: white;
    padding: 50px 50px;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.about-wrap {
    display: flex;
    align-items: stretch;
    gap: 30px;
    flex-wrap: wrap;
}

.about-text {
    line-height: 1.6;
    font-size: 1.05rem;
    color: #333;
    margin-bottom: 20px;
}
.pro-pic {
    width: 45%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    flex-shrink: 0;
    max-height: 100%;
    border: 4px solid #e0e0e0;
}

.about-text {
    width: 45%;
    max-width: 500px;
}

.project {
    background-color: #f5f7fa;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    border-left: 4px solid #007bff;
}

.project h3 {
    margin-top: 0;
    color: #007bff;
}

.project a:not(.btn) {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 8px 12px;
    border-radius: 5px;
}

.project a:hover {
    background-color: #1200b3;
}

#leadership h2 {
    text-align: center;
    margin: 40px;
}

.achievement {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px; /** this controls how wide or small the text(including the background color) can be on both large screens **/
}

.achievement h3 {
    color: #007bff;
}

.achievement-card {
    flex: 270px; /** this line of code ensures the cards are aligned side by side (2 on each row) on bigger screen and it ensures there is no much space at the bottom on smaller screen **/
    background-color: #f5f7fa;
    width: 235px; /** this line of code controls the sizing of the cards on smaller screen **/
    max-width: 350px; /** this controls how wide or small the text(including the background color) can be on both large and small screens **/
    margin: 20px auto; /** this line of code ensures there is space between the cards **/
    padding: 20px; /** this line of code ensures spacing inside the card (between the text) **/
    border-radius: 12px; 
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    box-sizing: border-box; /** this ensures that the card does not overstretch**/
}

#contact {
    background-color: #f9f9f9;
    padding: 80px 20px;
    text-align: center;
}

#contact h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #1c1c1c;
}

#contact p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
}

.contact-wrapper {
    display: flex;
    justify-content:space-between;
    gap: 40px;
    align-items: stretch;
    padding: 2rem 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    flex-wrap: wrap;
}

.contact-icons {
    width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-right: 2px solid #eee;
    padding-right: 100px;
}

.contact-icons a {
    font-size: 28px;
    transition: transform 0.3s ease;
}

.contact-icons a:hover {
    transform: scale(1.2);
    color: #0077b5;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    flex: 2;
    padding-left: 100px;
    gap: 30px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.contact-form input, .contact-form textarea {
    width:100%;
    max-width: 300px;
    height: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: inherit;
}

.contact-form .btn {
    width: 100%;
    max-width: 320px;
    padding: 12px;
    border: none;
    font-family: inherit;
    box-sizing: border-box;
}

.request-cv {
    align-items: center;
}

.form-group input[type='checkbox'] {
    width: auto;
    margin-right: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white !important;
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .about-wrap {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .pro-pic {
        width: 90%;
        max-width: 400px;
        margin-bottom: 20px;
    }
    .about-text {
         width: 90%;
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    #hamburger {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        z-index: 100;
    }

    .nav-links.show {
        display: flex;
    }
}

@media (max-width: 600px) {
    .achievement {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 480px) {
    .achievement {
        align-items: center;
        justify-content: center;
        margin-right: 100px;
    }
 }


@media (max-width: 768px) {
    .contact-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .contact-icons {
        border-right: none;
        border-bottom: 2px solid #00cc99;
        padding-bottom: 20px;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .contact-form {
        padding-left: 0;
        width: 100%;
        max-width: 320px;
    }
}

@media (max-width: 480px) {
    .contact-form {
        width: 90%;
        max-width: 320px;
        padding: 15px;
    }

    .contact-form textarea {
        font-size: 14px;
        padding: 12px;
    }
}